# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
/identitypulse-functions/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/docs

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

identitypulse-functions/local.settings.backup.1758687085003.json
identitypulse-functions/local.settings.backup.1758688057234.json
identitypulse-functions/diagnose_services.js
identitypulse-functions/local.settings.json
identitypulse-functions/test_admin.js
identitypulse-functions/test_approval.js
identitypulse-functions/updatesettings.js

identity-pulse\src\environments\environment.ts
.env
local.settings.json
*.local.json
identitypulse-functions/local.settings.json
