<!-- src/app/@theme/components/header/header.component.html -->
<div class="header-left">
  <button class="sidebar-toggle" (click)="toggleSidebar()">
    <nb-icon icon="menu-2-outline"></nb-icon>
  </button>
</div>

<div class="header-center">
  <div class="header-metrics">
    <div class="metric">
      <span class="value">1.2M+</span>
      <span class="label">Total Verifications</span>
    </div>
    <div class="metric">
      <span class="value">403ms</span>
      <span class="label">Average Response Time</span>
    </div>
    <div class="metric">
      <span class="value">99.9%</span>
      <span class="label">Global Uptime</span>
    </div>
    <div class="metric">
      <span class="value">21</span>
      <span class="label">Active Countries</span>
    </div>
  </div>
</div>

<div class="header-right">
  <nb-actions size="small">
    <nb-action class="user-action" *nbIsGranted="['view', 'user']">
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.name"
               [picture]="user?.picture"
               nbContextMenuTag="user-menu">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>